[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "*"
timezonefinder = "*"
pytz = "*"
matplotlib = "*"
skyfield = "*"
mw-plot = "*"
plotly = "*"
dash = "*"
plotly-express = "*"
pandas = "*"
starplot = "*"

[dev-packages]

[requires]
python_version = "3.12"
